.card{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204,197,185,.5);
    -webkit-transition: all .3s ease;
	transition: all .3s ease
}

.card:hover, focus{
	cursor: pointer;
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1)
}
