<div id="Working" class="content-tab" style="display:none">
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-size-2" style="margin-bottom: 3.75rem;">
              What I've been working on
            </h1>
            <h2 class="subtitle has-text-justified">
              I like to think how can I solve problems aroud me using technology and developing applications.
              Take a look at some of my applications, and companies I've dedicated my time to.
            </h2>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-full">
            <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Experience</p>
                  <p class="title">3 years</p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Projects</p>
                  <p class="title">5</p>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="columns is-multiline">
          <!-- MOVIES -->
          <div class="column is-12-mobile is-6-tablet is-4-desktop">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="{{ url_for('static', filename='img/movie.jpg') }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content has-text-centered">
                    <p class="title-work is-4">Movies Scraping</p>
                    <p class="subtitle-work is-6">Dashboard that uses TheMovieDB API to list upcoming movies</p>
                  </div>
                </div>
            
                <div class="content">
                  <div class="tags">
                    <span class="tag">Scraping</span>
                    <span class="tag">Flask</span>
                    <span class="tag">Bulma.io</span>
                  </div>
                  <br>
                  <time datetime="2020-03-02">2020-2020</time>
                </div>

                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      View on <a target="_blank" href="https://movies-scraping.herokuapp.com/movies/upcoming">Heroku</a>
                    </span>
                  </p>
                  <p class="card-footer-item">
                    <span>
                      Fork me on <a target="_blank" href="https://github.com/vinicius1209/movies-scraping">Github</a>
                    </span>
                  </p>
                </footer>
              </div>
            </div>
          </div>
          <!-- END MOVIES -->
          <!-- Daily Automation -->
          <div class="column is-12-mobile is-6-tablet is-4-desktop">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="{{ url_for('static', filename='img/github.png') }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content has-text-centered">
                    <p class="title-work is-4">Daily Automation</p>
                    <p class="subtitle-work is-6">Python script that automate my work daily notes. Such as commits, merge requests and comments on Gitlab.</p>
                  </div>
                </div>
            
                <div class="content">
                  <div class="tags">
                    <span class="tag">Python</span>
                    <span class="tag">Automation</span>
                    <span class="tag">Github</span>
                  </div>
                  <br>
                  <time datetime="2020-02-14">jan 2020</time>
                </div>

                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      View on <a target="_blank" href="https://github.com/vinicius1209/gitlab-scraping">Github</a>
                    </span>
                  </p>
                </footer>
              </div>
            </div>
          </div>
          <!--END Daily Automation-->
          <!-- IOTOY -->
          <div class="column is-12-mobile is-6-tablet is-4-desktop">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="{{ url_for('static', filename='img/iotoy.png') }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content has-text-centered">
                    <p class="title-work is-4">IOTOY</p>
                    <p class="subtitle-work is-6">Smart Toy that uses IOT to estimulate the communication of children in speech development</p>
                  </div>
                </div>
            
                <div class="content">
                  <div class="tags">
                    <span class="tag">SmartToy</span>
                    <span class="tag">IOT</span>
                    <span class="tag">Speech</span>
                  </div>
                  <br>
                  <time datetime="2020-02-14">2019-2020</time>
                </div>

                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      View on <a target="_blank" href="https://github.com/vinicius1209/IOTOY">Github</a>
                    </span>
                  </p>
                  <p class="card-footer-item">
                    <span>
                      Watch on <a target="_blank" href="https://www.youtube.com/watch?v=fgsmSq2gN0c">Youtube</a>
                    </span>
                  </p>
                </footer>
              </div>
            </div>
          </div>
          <!-- END IOTOY -->
          <!-- Flask Automation -->
          <div class="column is-12-mobile is-6-tablet is-4-desktop">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="{{ url_for('static', filename='img/flask.png') }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content has-text-centered">
                    <p class="title-work is-4">Flask Project Automation</p>
                    <p class="subtitle-work is-6">
                      Python script that automate the creation of Flask projects. 
                    </br>
                      It has some arguments like "-v" for Vue.js insertition and "-g" for create a Github reposity.
                    </p>
                  </div>
                </div>
            
                <div class="content">
                  <div class="tags">
                    <span class="tag">Python</span>
                    <span class="tag">Flask</span>
                    <span class="tag">Vue.js</span>
                    <span class="tag">Github</span>
                  </div>
                  <br>
                  <time datetime="2020-02-14">jun 2019</time>
                </div>

                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      View on <a target="_blank" href="https://github.com/vinicius1209/Personal-Projects-Automation">Github</a>
                    </span>
                  </p>
                </footer>
              </div>
            </div>
          </div>
          <!--END Flask Automation-->
        </div>
      </div>
    </section>
</div>