{% extends "base.html" %}
{% block content %}
  <section class="hero is-fullheight-with-navbar is-dark">
    <div class="hero-body">
      <div class="container" id="main">

        <!-- WHO AM I -->
        {% include 'sub/who.html' %}
        <!-- /END -->  

        <!-- SKILLS -->
        {% include 'sub/skills.html' %}
        <!-- /END -->   

        <!-- WORKING -->
        {% include 'sub/work.html' %}
        <!-- /END -->           
         
      </div>
    </div>
  </section>

  <script type="text/javascript">
    
    $(document).ready(function() {
      $(".navbar-burger").click(function() {
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");

      });
    });

    function openTab(evt, tabName) {
      var i, x, navitems;
      x = document.getElementsByClassName("content-tab");

      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
      }
      
      navitems = document.getElementsByClassName("navbar-item");

      for (i = 0; i < x.length; i++) {
        navitems[i].className = navitems[i].className.replace("is-active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " is-active";
    }
  </script>
{% endblock %}
