{% extends "base.html" %}
{% block content %}
  <section class="hero is-fullheight-with-navbar is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hi There, I'm Vinícius.
        </h1>
        <h2 class="subtitle">
          Developer, Student and Enthusiastic
        </h2>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a>Who am I</a>
            </li>
            <li>
              <a>My Skills</a>
            </li>
            <li>
              <a>Working on</a>
            </li>
          </ul>
        </div>
  </section>
{% endblock %}
