{% extends "base.html" %}
{% block content %}
  <section class="hero is-fullheight-with-navbar is-dark">
    <div class="hero-body">
      <div class="container">

        <!-- WHO AM I -->
        {% include 'sub/who.html' %}
        <!-- /END -->  

        <!-- SKILLS -->
        {% include 'sub/skills.html' %}
        <!-- /END -->   

        <!-- WORKING -->
        {% include 'sub/work.html' %}
        <!-- /END -->           
         
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="tab is-active" onclick="openTab(event,'Who')">
              <a>Who am I</a>
            </li>
            <li class="tab" onclick="openTab(event,'Skills')">
              <a>My Skills</a>
            </li>
            <li class="tab" onclick="openTab(event,'Working')">
              <a>Working on</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <script type="text/javascript">
    
    $(document).ready(function() {
      $(".navbar-burger").click(function() {
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");

      });
    });

    function openTab(evt, tabName) {
      var i, x, tablinks;
      x = document.getElementsByClassName("content-tab");

      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tab");

      for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace("is-active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " is-active";
    }
  </script>
{% endblock %}
